@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 92px;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

p {
  color: #1f2937;
}
body {
  background-color: #0F2044;
}
